@import "../variables.scss";

$primary: $darkBlue;

@import "~font-awesome/css/font-awesome.min.css";
@import "~bulma/bulma.sass";

// Fix lang selector on the right with smaller screens
@media screen and (max-width: 979px) {
  .hero-head > .container > .nav > .nav-right > .nav-item:last-child {
      padding-right: 20px;
  }
}

// Custom UI elements
.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  z-index: 9;
  background: #444;
}

.popup {
  position: relative;
}

.popup-left, .popup-right {
  border-radius: 2px;
  background: white;
  top: 0;
  position: absolute;
  z-index: 9;

  & > .menu {
    padding: 5px;
  }
}

.popup-left {
  right: 0;
}

.popup-right {
  left: 0;
}

// FIX
#root .is-dark {
  .popup-left, .popup-right {
    background: #444;
  }
  .menu-list a:not(.is-active):hover {
    color: #444;
  }
}
